<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="proyectotecc.My.MySettings.sistemamediosav_dbConnectionString"
      connectionString="server=mysql-sistemamediosav.alwaysdata.net;user id=230400_db;password=W*eH0EBY%7oH;persistsecurityinfo=True;database=sistemamediosav_db"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>